<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= username %></title>
</head>
<body>
	<h1>Hello, my name is <%= username %></h1>
	<h5>My public repos count is <%= data.public_repos %></h5>
	<h5>My Followers <%= data.followers %></h5>
	<h5>I'm following <%= data.following %></h5>
</body>
</html>
